<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Samarth Jain" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazon</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link rel="stylesheet" href="./stylesheets/home.css" />
  </head>

  <body>
    <div id="sj-main">
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark position-sticky top-0" >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Amazon</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" > Products </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Mobiles</a></li>
                  <li><a class="dropdown-item" href="#">Computer & Laptops</a> </li>
                  <li><a class="dropdown-item" href="#">Men's Fashion</a></li>
                  <li><a class="dropdown-item" href="#">Women's Fashion</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Other items</a></li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>

            <form id="searchForm" class="d-flex w-50 me-2" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
              <button class="btn btn-outline-success" type="submit"> Search </button>
            </form>

            <a href="/cart" class="text-decoration-none" >
              <div id="cart" class="btn btn-warning px-4 py-0">
                <i class="ri-shopping-cart-2-line"></i>
                <span class="ms-1"><%= user.cart.length %></span>
              </div>
            </a >

            <a href="/profile" class="text-decoration-none">
              <div id="account">
                <div id="profileimg" class="me-2">
                  <img src="./images/profilepics/<%= user.profilepic %>" alt="dp" />
                </div>
                <%= user.username %>
              </div>
            </a>
          </div>
        </div>
      </nav>

      <h1 class="ms-4 mt-5">Categories</h1>
      <div id="categories">
        <div>
          <span>
            <img src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1780&q=80" alt="" />
            <h5>Mobiles</h5>
          </span>

          <span>
            <img src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="" />
            <h5>Computer</h5>
          </span>

          <span>
            <img src="https://images.unsplash.com/photo-1520895653685-c739b6db8fce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1925&q=80" alt="" />
            <h5>Smart Watches</h5>
          </span>

          <span>
            <img src="https://images.unsplash.com/photo-1479064555552-3ef4979f8908?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="" />
            <h5>Men's fashion</h5>
          </span>

          <span>
            <img src="https://images.unsplash.com/photo-1651143891190-60840072ed69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1888&q=80" alt="" />
            <h5>Women's fashion</h5>
          </span>

          <span>
            <img src="https://images.unsplash.com/photo-1571875257727-256c39da42af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1780&q=80" alt="" />
            <h5>Cosmetics</h5>
          </span>

          <span>
            <img src="https://images.unsplash.com/photo-1545454675-3531b543be5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="" />
            <h5>Speakers</h5>
          </span>

          <span>
            <img src="https://images.unsplash.com/photo-1515488042361-ee00e0ddd4e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2075&q=80" alt="" />
            <h5>Toys and Games</h5>
          </span>

          <span>
            <img src="https://images.unsplash.com/photo-1589983006655-4ef9a756ebe3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1995&q=80" alt="" />
            <h5>Household</h5>
          </span>

          <span>
            <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="" />
            <h5>Shoes</h5>
          </span>
        </div>
      </div>

      <div id="products" class="container mt-5">
        <% products.forEach(function(product){ %>
          <div class="card mb-3" style="width: 100%">
            <div class="row g-0">
              <div class="col-md-2">
                <img id="productimg" src="./images/productpics/<%= product.productpic %>" alt="..." />
              </div>

              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= product.productname %></h5>
                  <p class="card-text"><%= product.productdetails %></p>
                  <h5 class="card-text py-0 d-inline"> Price : <%= product.productprice %> </h5> <br />
                  <h6 class="card-text py-0">
                    <small class="text-muted" ><%= product.discount %> % off</small >
                  </h6>
                  <div class="w-100 d-flex justify-content-between align-items-center" >
                    <span class="card-text py-0">
                      <small class="text-muted" >Seller : <%= product.owner.username %></small >
                    </span >
                    <br />
                    <button id="addtocart" class="<%= product._id %> btn btn-danger px-4" > Add to cart </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
      </div>

      <div id="offers">
        <h1>Today's offers</h1>
        <div>
          <img src="./images/phone.jpg" alt="" />
        </div>
        <div>
          <img src="./images/combo.jpg" alt="" />
        </div>
        <div>
          <img src="./images/headphone.jpg" alt="" />
        </div>
        <div>
          <img src="./images/remote.jpg" alt="" />
        </div>
        <div>
          <img src="./images/soeaker.jpg" alt="" />
        </div>
        <div>
          <img src="./images/watch.jpg" alt="" />
        </div>
        <div>
          <img src="./images/shoes.jpg" alt="" />
        </div>
      </div>

      <div class="card text-center pb-4">
        <div class="card-body">
          <a href="#" class="btn btn-outline-dark" >Hello <%= user.username %>,</a >
          <p class="card-text p-3"> 10% Instant discount with select bank credit & debit cards - Buy more, save more! Top brands for electronics, fashion, home & kitchen. Free Shipping on orders above ₹499. Low Prices. Huge Selection. Easy & Fast Delivery. Great Offers. Top Brands. Best Deals. </p>
        </div>
      </div>

      <footer class="text-center text-lg-start bg-white text-muted">
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3 text-secondary"></i>Amazon
                </h6>
                <p> Online Shopping India - Buy mobiles, laptops, cameras, books, watches, apparel, shoes and e-Gift Cards. Free Shipping & Cash on Delivery </p>
              </div>

              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                <p>
                  <a href="#!" class="text-reset">Amazon prime</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Amazon music</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Amazon appstore</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Fire HD</a>
                </p>
              </div>

              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                <p>
                  <a href="#!" class="text-reset">Home</a>
                </p>
                <p>
                  <a href="https://www.amazon.in/gp/redirect.html/ref=footer_fb?location=http://www.facebook.com/AmazonIN&token=2075D5EAC7BB214089728E2183FD391706D41E94&6" class="text-reset" >Facebook</a >
                </p>
                <p>
                  <a href="https://www.amazon.in/gp/redirect.html/ref=footer_twitter?location=http://twitter.com/AmazonIN&token=A309DFBFCB1E37A808FF531934855DC817F130B6&6" class="text-reset" >Twitter</a >
                </p>
                <p>
                  <a href="https://www.amazon.in/gp/redirect.html?location=https://www.instagram.com/amazondotin&token=264882C912E9D005CB1D9B61F12E125D5DF9BFC7&source=standards" class="text-reset" >Instagram</a >
                </p>
              </div>

              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                <p>
                  <i class="fas fa-home me-3 text-secondary"></i>
                  New York, NY 10012, US
                </p>
                <p>
                  <i class="fas fa-envelope me-3 text-secondary"></i>
                  info@example.com
                </p>
                <p>
                  <i class="fas fa-phone me-3 text-secondary"></i>
                  + 01 234 567 88
                </p>
                <p>
                  <i class="fas fa-print me-3 text-secondary"></i>
                  + 01 234 567 89
                </p>
              </div>
            </div>
          </div>
        </section>

        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)" >
          © 2022 Copyright:
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/" >amazon.com</a >
          <p>Designed by <em>Samarth Jain</em></p>
        </div>

      </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js" integrity="sha512-GQ5/eIhs41UXpG6fGo4xQBpwSEj9RrBvMuKyE2h/2vw3a9x85T1Bt0JglOUVJJLeyIUl/S/kCdDXlE/n7zCjIg==" crossorigin="anonymous" referrerpolicy="no-referrer" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0/axios.min.js" integrity="sha512-26uCxGyoPL1nESYXHQ+KUmm3Maml7MEQNWU8hIt1hJaZa5KQAQ5ehBqK6eydcCOh6YAuZjV3augxu/5tY4fsgQ==" crossorigin="anonymous" referrerpolicy="no-referrer" ></script>
    <script src="./javascripts/home.js"></script>
  </body>
</html>
